.field-slideshow {
  overflow: hidden;
  max-width: 100%;
}

.field-slideshow-slide, .field-slideshow-slide a, .field-slideshow-slide img {
  max-width: 100%;
  width: 360px !important;
  height: 300px !important;
}

.region-content ul.field-slideshow-pager {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.field-slideshow-pager li {
  float: left;
  margin-right: 5px;
}

.jcarousel-clip {
  overflow: hidden;
}

.field-slideshow-carousel li {
  opacity: 0.6;
}
.field-slideshow-carousel li.activeSlide {
  opacity: 1;
}

.field-slideshow-carousel-wrapper .hidden {
  display: none;
  visibility: hidden;
}

.field-slideshow-controls .play {
  display: none;
}
